#temperature{
    padding: 0 15px 15px 15px;
}

#humidity{
    padding: 0 15px 15px 15px;
}

#lightIntensity{
    padding: 0 15px 15px 15px;
}

#soilMoisture{
    padding: 0 15px 15px 15px;
}

#rainfall{
    padding: 0 15px 15px 15px;
}

