body{
    background: url('../../img/background.jpeg')top center no-repeat;
    background-size:cover;

    /*background: red;*/
}

b{
    font-size: 45px;
}

.login-box-body{
    background: #EEEEEE;
}